---
// Temporarily disable code toggles until content collection is set up
---

<div class="relative">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:text-center">
      <slot />
    </div>
  </div>
</div>
