---
import { type CollectionEntry, getCollection } from "astro:content";
import { type InferGetStaticPropsType } from "astro";

// layout
import BaseLayout from "@layouts/BaseLayout.astro";

// components
import ExternalLink from "@components/MarkdownComponents/ExternalLink.astro";

// utils
import { filterCollectionByLanguage } from "@js/localeUtils";
import { defaultLocale } from "@config/siteSettings.json";

export async function getStaticPaths() {
  const otherPages: CollectionEntry<"otherPages">[] = await getCollection(
    "otherPages",
    ({ data }) => {
      // filter out draft pages
      return data.draft !== true;
    },
  );

  // get rid of pages from other languages and remove locale from slug
  const filteredPages = filterCollectionByLanguage(otherPages, defaultLocale);

  return Promise.all(
    filteredPages.map(async (page) => {
      const { Content } = await page.render();
      const renderedContent = await renderToString(Content, { components: { a: ExternalLink } });
      return {
        params: { page: page.slug },
        props: {
          ...page.data,
          renderedContent,
        },
      };
    })
  );
}

async function renderToString(Content: any, options: any = {}) {
  const { components } = options;
  return await Content.render(components);
}

type Props = InferGetStaticPropsType<typeof getStaticPaths>;
const { title, description, renderedContent } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <section class="site-container mt-24 overflow-x-clip">
    <div class="mx-auto flex w-full max-w-3xl pt-12">
      <h1 class="h1">{title}</h1>
    </div>
    <div class="mx-auto max-w-3xl">
      <div
        class="text-base-content prose mt-12 max-w-none text-sm md:text-base"
      >
        <Fragment set:html={renderedContent} />
      </div>
    </div>
  </section>
</BaseLayout>
